@import "variables";

.mdl-demo #send {

    position: absolute;
    right: 10px;
    top: -28px;
    z-index: 999;

}
.mdl-demo #recording {
    position: absolute;
    right: 90px;
    top: -28px;
    z-index: 999;
}
.mdl-button.mdl-button-record {
    background: $record;
    color: white;
    animation: none;
        &.active {
            color: $record;
            background: white;
            animation: play 2s ease infinite;
    }
}
@keyframes play {
    0% {
        box-shadow: 0 0 0 5px rgba(255, 183, 77, 0.5);
    }
    15%{
        box-shadow: 0 0 0 7px rgba(255, 183, 77, 0.3);
    }
    30% {
        box-shadow: 0 0 0 10px rgba(255, 183, 77, 0.4);
    }
    50%{
        box-shadow: 0 0 0 12px rgba(255, 183, 77, 0.4), 0 0 0 40px rgba(255, 183, 77, 0.4), 0 0 0 60px rgba(2255, 183, 77, 0.4)
        80%;
    }
}
.mdl-button.mdl-button-blue {
    background: lighten($brand-primary,5%);
    color: $brand-primary-contrast-colour;
    &:hover {
        background: lighten($brand-primary,20%);
    }
}

.button-append {
    padding-top: 1em;
}

// vertical align for button icon on top nav
nav.mdl-navigation .button-nav {
    height: 64px;
    margin-right: 20px;
    color: white;
    font-weight: lighter;
}
