.map-container {
 .map {
     position: relative;
     background: #FFFFFF;
     box-shadow: 0 5px 10px 0 rgba(0,0,0,0.20);
     border: 1px solid rgba(0,0,0,0.06);
     border-radius: 6px 6px 6px 0;
     font-size: 1.2em;
     padding: 1em 1em;
     transition: padding ease-in-out .2s;
     width: auto;
     max-width: 35vw;
     //width: 20vw;
     //min-width: 15vw;
     min-height: 20vw;
     margin: 0.2em 0;
 }
 .map-width-controller {
     width:35vw;
 }
}
