$footer-background-colour: rgb(32,32,32);
$servian-orange: #e96d3c;
$servian-blue: #4f90c7;
$servian-yellow: #f9b53c;

$rich-purple: #522cac;
$light-gray: #F0F3F5; //light background color
$primary-blue:#0095F0;

//$header-background: #25292a;//#747474;
//$brand-primary: $servian-orange;
//$brand-secondary: $rich-purple;

//$spacing: 50px;
//$sm-width: 767px;
//$padding: 20px;
//$border-radius: 10px;
$header-background: black;//#25292a;//#747474;
$brand-primary-contrast-colour: white;
$brand-primary: $servian-orange;
$brand-secondary: $rich-purple;
$brand-logo-height: 70px;
$message-box-lighten: 10;
$record: $brand-secondary;//#FFB74D;
